<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auto.mapper.OrderMapper">

    <resultMap type="Order" id="OrderResult">
        <result property="id"    column="id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="userId"    column="user_id"    />
        <result property="totalPrice"    column="total_price"    />
        <result property="payPrice"    column="pay_price"    />
        <result property="freightPrice"    column="freight_price"    />
        <result property="payType"    column="pay_type"    />
        <result property="status"    column="status"    />
        <result property="deliveryType"    column="delivery_type"    />
        <result property="addressId"    column="address_id"    />
        <result property="storeId"    column="store_id"    />
        <result property="appointmentId"    column="appointment_id"    />
        <result property="transactionId"    column="transaction_id"    />
        <result property="payTime"    column="pay_time"    />
        <result property="deliveryTime"    column="delivery_time"    />
        <result property="receiveTime"    column="receive_time"    />
        <result property="closeTime"    column="close_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <association property="addressInfo" javaType="UserAddress" resultMap="AddressResult" />
    </resultMap>

    <resultMap type="UserAddress" id="AddressResult">
        <result property="id"    column="addr_id"    />
        <result property="userId"    column="addr_user_id"    />
        <result property="consignee"    column="consignee"    />
        <result property="phone"    column="phone"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="district"    column="district"    />
        <result property="detail"    column="detail"    />
        <result property="isDefault"    column="is_default"    />
    </resultMap>

    <resultMap type="OrderVO" id="OrderVOResult">
        <result property="id"    column="id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="totalPrice"    column="total_price"    />
        <result property="payPrice"    column="pay_price"    />
        <result property="freightPrice"    column="freight_price"    />
        <result property="payType"    column="pay_type"    />
        <result property="status"    column="status"    />
        <result property="deliveryType"    column="delivery_type"    />
        <result property="addressId"    column="address_id"    />
        <result property="storeId"    column="store_id"    />
        <result property="appointmentId"    column="appointment_id"    />
        <result property="transactionId"    column="transaction_id"    />
        <result property="payTime"    column="pay_time"    />
        <result property="deliveryTime"    column="delivery_time"    />
        <result property="receiveTime"    column="receive_time"    />
        <result property="closeTime"    column="close_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="refundId"    column="refund_id"    />
        <result property="refundOrderId"    column="refund_order_id"    />
        <result property="refundUserId"    column="refund_user_id"    />
        <result property="refundType"    column="refund_type"    />
        <result property="refundReason"    column="refund_reason"    />
        <result property="refundAmount"    column="refund_amount"    />
        <result property="refundEvidence"    column="refund_evidence"    />
        <result property="refundStatus"    column="refund_status"    />
        <result property="refundAdminRemark"    column="refund_admin_remark"    />
        <result property="refundCreateTime"    column="refund_create_time"    />
        <result property="refundUpdateTime"    column="refund_update_time"    />
    </resultMap>

    <sql id="selectOrderVo">
        select o.id, o.order_no, o.user_id, o.total_price, o.pay_price, o.freight_price, o.pay_type, o.status,
               o.delivery_type, o.address_id, o.store_id, o.appointment_id, o.transaction_id,
               o.pay_time, o.delivery_time, o.receive_time, o.close_time, o.create_time, o.update_time,
               ua.id as addr_id, ua.user_id as addr_user_id, ua.consignee, ua.phone,
               ua.province, ua.city, ua.district, ua.detail, ua.is_default
        from `order` o
        left join user_address ua on o.address_id = ua.id
    </sql>

    <select id="selectOrderList" parameterType="Order" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        <where>
            <if test="orderNo != null and orderNo != ''">
                and o.order_no = #{orderNo}
            </if>
            <if test="userId != null">
                and o.user_id = #{userId}
            </if>
            <if test="status != null">
                and o.status = #{status}
            </if>
            <if test="payType != null">
                and o.pay_type = #{payType}
            </if>
            <if test="deliveryType != null">
                and o.delivery_type = #{deliveryType}
            </if>
        </where>
        order by o.create_time desc
    </select>

    <select id="selectOrderListByUserId" parameterType="Long" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where o.user_id = #{userId}
        order by create_time desc
    </select>

    <select id="selectOrderById" parameterType="Long" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where o.id = #{id}
    </select>

    <select id="selectOrderByOrderNo" parameterType="String" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where o.order_no = #{orderNo}
    </select>

    <insert id="insertOrder" parameterType="Order" useGeneratedKeys="true" keyProperty="id">
        insert into `order`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no,</if>
            <if test="userId != null">user_id,</if>
            <if test="totalPrice != null">total_price,</if>
            <if test="payPrice != null">pay_price,</if>
            <if test="freightPrice != null">freight_price,</if>
            <if test="payType != null">pay_type,</if>
            <if test="status != null">status,</if>
            <if test="deliveryType != null">delivery_type,</if>
            <if test="addressId != null">address_id,</if>
            <if test="storeId != null">store_id,</if>
            <if test="appointmentId != null">appointment_id,</if>
            <if test="transactionId != null and transactionId != ''">transaction_id,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="deliveryTime != null">delivery_time,</if>
            <if test="receiveTime != null">receive_time,</if>
            <if test="closeTime != null">close_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">#{orderNo},</if>
            <if test="userId != null">#{userId},</if>
            <if test="totalPrice != null">#{totalPrice},</if>
            <if test="payPrice != null">#{payPrice},</if>
            <if test="freightPrice != null">#{freightPrice},</if>
            <if test="payType != null">#{payType},</if>
            <if test="status != null">#{status},</if>
            <if test="deliveryType != null">#{deliveryType},</if>
            <if test="addressId != null">#{addressId},</if>
            <if test="storeId != null">#{storeId},</if>
            <if test="appointmentId != null">#{appointmentId},</if>
            <if test="transactionId != null and transactionId != ''">#{transactionId},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="deliveryTime != null">#{deliveryTime},</if>
            <if test="receiveTime != null">#{receiveTime},</if>
            <if test="closeTime != null">#{closeTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateOrder" parameterType="Order">
        update `order`
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no = #{orderNo},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="totalPrice != null">total_price = #{totalPrice},</if>
            <if test="payPrice != null">pay_price = #{payPrice},</if>
            <if test="freightPrice != null">freight_price = #{freightPrice},</if>
            <if test="payType != null">pay_type = #{payType},</if>
            <if test="status != null">status = #{status},</if>
            <if test="deliveryType != null">delivery_type = #{deliveryType},</if>
            <if test="addressId != null">address_id = #{addressId},</if>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="appointmentId != null">appointment_id = #{appointmentId},</if>
            <if test="transactionId != null and transactionId != ''">transaction_id = #{transactionId},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="deliveryTime != null">delivery_time = #{deliveryTime},</if>
            <if test="receiveTime != null">receive_time = #{receiveTime},</if>
            <if test="closeTime != null">close_time = #{closeTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateOrderStatus">
        update `order` set status = #{status}, update_time = now() where id = #{id}
    </update>

    <update id="updateOrderPayInfo">
        update `order` set pay_type = #{payType}, transaction_id = #{transactionId}, pay_time = #{payTime}, update_time = now() where id = #{id}
    </update>

    <update id="updateOrderDelivery">
        update `order` set delivery_time = #{deliveryTime}, update_time = now() where id = #{id}
    </update>

    <update id="updateOrderReceive">
        update `order` set receive_time = #{receiveTime}, update_time = now() where id = #{id}
    </update>

    <update id="updateOrderClose">
        update `order` set close_time = #{closeTime}, update_time = now() where id = #{id}
    </update>

    <delete id="deleteOrderById" parameterType="Long">
        delete from `order` where id = #{id}
    </delete>

    <delete id="deleteOrderByIds" parameterType="String">
        delete from `order` where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectAdminOrderList" parameterType="OrderVO" resultMap="OrderVOResult">
        select o.id, o.order_no, o.user_id, u.nick_name as user_name, o.total_price, o.pay_price, o.freight_price, o.pay_type, o.status,
               o.delivery_type, o.address_id, o.store_id, o.appointment_id, o.transaction_id,
               o.pay_time, o.delivery_time, o.receive_time, o.close_time, o.create_time, o.update_time,
               rr.id as refund_id, rr.order_id as refund_order_id, rr.user_id as refund_user_id, rr.type as refund_type,
               rr.reason as refund_reason, rr.amount as refund_amount, rr.evidence as refund_evidence,
               rr.status as refund_status, rr.admin_remark as refund_admin_remark,
               rr.create_time as refund_create_time, rr.update_time as refund_update_time
        from `order` o
        left join sys_user u on o.user_id = u.user_id
        left join refund_return rr on o.id = rr.order_id
        <where>
            <if test="orderNo != null and orderNo != ''">
                and o.order_no like concat('%', #{orderNo}, '%')
            </if>
            <if test="userName != null and userName != ''">
                and u.nick_name like concat('%', #{userName}, '%')
            </if>
            <if test="status != null">
                and o.status = #{status}
            </if>
            <if test="refundStatus != null">
                and rr.status = #{refundStatus}
            </if>
            <if test="beginTime != null and beginTime != ''">
                and date_format(o.create_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime != ''">
                and date_format(o.create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
        </where>
        order by o.create_time desc
    </select>

</mapper>
